# Resolution
res_x=500
res_y=500

# World file
world_file=Assets/Scenes/arealight.scene

# Output folder
output_folder=arealight

output_name=

# Background color (r g b a)
# bkg_color=0.396 0.612 0.937 1.0
bkg_color=0 0 0 1


# Sampling
num_samples=9
viewport_sampler_type=multi_jittered

# Multi threading
use_multithreading=true
num_threads=6