# Resolution
res_x=1000
res_y=1000

# World file
world_file=Assets/Scenes/noise.scene

# Output folder
output_folder=noise

output_name=


# Sampling
num_samples=100
viewport_sampler_type=multi_jittered


# Multi threading
use_multithreading=true
num_threads=6


# World settings
bkg_color=0.396 0.612 0.937 1.0
max_depth=15