# Resolution
res_x=500
res_y=500

# World file
world_file=Assets/Scenes/transparent.scene

# Output folder
output_folder=transparent

output_name=bunny2.png


# Sampling
num_samples=1
viewport_sampler_type=multi_jittered


# Multi threading
use_multithreading=true
num_threads=6


# World settings
bkg_color=0.396 0.612 0.937 1.0
max_depth=15